<div class="list-card list-card--<%= list.color %>" data-list-id="<%= list.id %>" draggable="true">
  <div class="list-card-header">
    <div class="list-card-left">
      <i class="fa-light fa-grip-dots-vertical list-card-drag"></i>
      <div class="list-card-emoji">
        <% if list.icon.present? %>
          <i class="fa-light fa-<%= list.icon %>"></i>
        <% end %>
      </div>
      <%= link_to list.name, todo_list_path(list), class: "list-card-title list-card-stretched-link" %>
    </div>
    <button class="list-card-menu" aria-label="List options">
      <i class="fa-light fa-ellipsis"></i>
    </button>
  </div>

  <% completion_pct = list.completion_percentage %>
  <div class="list-card-body">
    <div class="list-card-progress-section">
      <div class="list-card-progress">
        <div class="list-card-progress-bar" style="width: <%= completion_pct %>%;"></div>
      </div>
      <span class="list-card-pct"><%= completion_pct %>% complete</span>
    </div>

    <div class="list-card-bottom">
      <span class="list-card-items"><%= list.todo_items.size %> items</span>
      <% if local_assigns[:shared] %>
        <span class="shared-owner-label">Shared by <%= list.user.name %></span>
      <% else %>
        <span class="list-card-updated">Updated <%= time_ago_in_words(list.updated_at) %> ago</span>
      <% end %>
    </div>
  </div>
</div>
