<%= turbo_frame_tag dom_id(section) do %>
  <div class="section-group" data-controller="section-collapse">
    <div class="section-header">
      <% if list_editor? %>
        <i class="fa-light fa-grip-dots-vertical drag-handle"></i>
      <% end %>
      <button class="section-chevron" data-action="click->section-collapse#toggle" data-section-collapse-target="chevron">
        <i class="fa-light fa-chevron-down"></i>
      </button>
      <% if section.icon.present? %>
        <i class="fa-light fa-<%= section.icon %> section-icon" style="color: var(--list-color-<%= todo_list.color %>);"></i>
      <% end %>
      <span class="section-name"><%= section.name %></span>
      <% active_items = section.todo_items.active %>
      <span class="section-count" style="background-color: var(--list-color-<%= todo_list.color %>-soft); color: var(--list-color-<%= todo_list.color %>);">
        <%= active_items.size %>
      </span>
      <% if list_editor? %>
        <button class="section-add-item" data-action="click->section-collapse#addItem" data-section-id="<%= section.id %>" data-list-id="<%= todo_list.id %>">
          <i class="fa-light fa-plus"></i>
          Add item
        </button>
        <%= render "todo_lists/section_context_menu", section: section, todo_list: todo_list %>
      <% end %>
    </div>
    <div class="section-items" id="<%= dom_id(section, :items) %>" data-section-collapse-target="items">
      <% if active_items.empty? %>
        <%= render "todo_lists/empty_section" %>
      <% else %>
        <% active_items.each do |item| %>
          <% if item.completed? %>
            <%= render "todo_lists/todo_item_completed", item: item, todo_list: todo_list %>
          <% else %>
            <%= render "todo_lists/todo_item", item: item, todo_list: todo_list %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
