<aside class="sidebar" data-controller="list-search">
  <div class="sidebar-search">
    <wa-input placeholder="Search lists..." size="small" data-action="input->list-search#filter" data-list-search-target="input">
      <i class="fa-light fa-magnifying-glass"></i>
    </wa-input>
  </div>

  <div class="sidebar-heading">My Lists</div>

  <ul class="sidebar-list" data-list-search-target="list">
    <% sidebar_lists.each do |list| %>
      <li data-list-search-target="item">
        <%= link_to todo_list_path(list),
          class: "sidebar-item #{'active' if local_assigns[:current_list] && current_list&.id == list.id}" do %>
          <span class="sidebar-dot" style="background: var(--list-color-<%= list.color %>);"></span>
          <%= list.name %>
          <span class="sidebar-item-count"><%= list.todo_items.size %></span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if local_assigns[:shared_lists]&.any? %>
    <div class="sidebar-shared-heading">Shared with me</div>

    <ul class="sidebar-list" data-list-search-target="list">
      <% shared_lists.each do |list| %>
        <li data-list-search-target="item">
          <%= link_to todo_list_path(list),
            class: "sidebar-item #{'active' if local_assigns[:current_list] && current_list&.id == list.id}" do %>
            <span class="sidebar-dot" style="background: var(--list-color-<%= list.color %>);"></span>
            <%= list.name %>
            <span class="sidebar-item-count"><%= list.todo_items.size %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to new_todo_list_path, class: "sidebar-new-btn" do %>
    <i class="fa-light fa-plus"></i>
    New List
  <% end %>
</aside>
