<%= turbo_frame_tag dom_id(item), class: "todo-item-frame", draggable: list_editor? ? "true" : "false", data: { item_id: item.id, section_id: item.todo_section_id } do %>
  <div class="todo-item">
    <% if list_editor? %>
      <i class="fa-light fa-grip-dots-vertical drag-handle"></i>
      <%= button_to toggle_todo_list_todo_item_path(todo_list, item), method: :patch, class: "todo-item-checkbox" do %>
        <div class="todo-item-check-circle" style="border-color: <%= item.status_color %>;"></div>
      <% end %>
    <% else %>
      <div class="todo-item-check-circle todo-item-check-disabled" style="border-color: <%= item.status_color %>;"></div>
    <% end %>
    <%= link_to item.name, todo_list_todo_item_path(todo_list, item), class: "todo-item-title", data: { turbo_frame: "_top" } %>
    <% if item.due_date.present? %>
      <span class="due-badge due-badge--<%= item.due_date_style %>">
        <%= item.overdue? ? "Overdue" : item.due_date.strftime("%b %-d") %>
      </span>
    <% end %>
    <% if item.assignees.any? %>
      <% item.assignees.first(2).each do |assignee| %>
        <div class="todo-item-avatar" style="background-color: var(--list-color-<%= todo_list.color %>);">
          <%= assignee.initials %>
        </div>
      <% end %>
    <% end %>
    <% if item.priority != "none" %>
      <div class="priority-dot priority-dot--<%= item.priority %>"></div>
    <% end %>
    <% if list_editor? %>
      <%= render "todo_lists/item_context_menu", item: item, todo_list: todo_list %>
    <% end %>
  </div>
<% end %>
