<%= turbo_frame_tag dom_id(item) do %>
  <div class="todo-item" id="<%= dom_id(item) %>" draggable="true"
       data-controller="item-checkbox"
       data-item-checkbox-url-value="<%= toggle_todo_list_todo_item_path(todo_list, item) %>">
    <wa-icon name="grip-dots-vertical" variant="thin" class="drag-handle"></wa-icon>
    <button class="todo-item-checkbox" data-action="click->item-checkbox#toggle">
      <div class="todo-item-check-circle"></div>
    </button>
    <%= link_to item.name, todo_list_todo_item_path(todo_list, item), class: "todo-item-title" %>
    <% if item.due_date.present? %>
      <span class="due-badge due-badge--<%= item.due_date_style %>">
        <%= item.overdue? ? "Overdue" : item.due_date.strftime("%b %-d") %>
      </span>
    <% end %>
    <% if item.assigned_to.present? %>
      <div class="todo-item-avatar" style="background-color: var(--list-color-<%= todo_list.color %>);">
        <%= item.assigned_to.name.split.map(&:first).join.upcase.first(2) %>
      </div>
    <% end %>
    <% if item.priority != "none" %>
      <div class="priority-dot priority-dot--<%= item.priority %>"></div>
    <% end %>
    <%= render "todo_lists/item_context_menu", item: item, todo_list: todo_list %>
  </div>
<% end %>
