<% if flash.any? %>
  <div class="index-flash">
    <%= render "shared/flash_messages" %>
  </div>
<% end %>

<% if @todo_lists.any? %>
  <div class="lists-header">
    <h1>My Lists</h1>
    <%= link_to new_todo_list_path, class: "lists-new-btn" do %>
      <i class="fa-light fa-plus"></i>
      New List
    <% end %>
  </div>

  <div class="lists-grid" data-controller="list-reorder" data-list-reorder-url-value="<%= reorder_todo_lists_path %>">
    <% @todo_lists.each do |list| %>
      <%= render "list_card", list: list %>
    <% end %>

    <%= link_to new_todo_list_path, class: "list-card-create" do %>
      <div class="list-card-create-icon">
        <i class="fa-light fa-plus"></i>
      </div>
      <span>Create New List</span>
    <% end %>
  </div>
<% end %>

<% if @shared_lists.any? %>
  <div class="lists-header">
    <h1>Shared with me</h1>
  </div>

  <div class="lists-grid">
    <% @shared_lists.each do |list| %>
      <%= render "list_card", list: list, shared: true %>
    <% end %>
  </div>
<% end %>

<% if @todo_lists.empty? && @shared_lists.empty? %>
  <div class="blank-slate">
    <div class="blank-slate-illustration">
      <i class="fa-light fa-clipboard-list"></i>
    </div>

    <h1>Your lists are waiting!</h1>
    <p>Create your first list and start turning chaos into beautifully organized tasks. It only takes a moment!</p>

    <%= link_to new_todo_list_path, class: "blank-slate-cta" do %>
      <i class="fa-light fa-plus"></i>
      Create My First List
      <i class="fa-light fa-arrow-right"></i>
    <% end %>

    <div class="blank-slate-features">
      <span><i class="fa-light fa-sparkles"></i> Organize tasks</span>
      <span><i class="fa-light fa-users"></i> Collaborate</span>
      <span><i class="fa-light fa-clock"></i> Stay on track</span>
    </div>
  </div>
<% end %>
